@page
@model IndexModel
@{
    ViewData["Title"] = "Docker example";
}

<div class="container text-center">
    <div class="row center">
        <h2>Docker Voting Sample</h2>
        <h3>@Model.OptionA vs @Model.OptionB!</h3>
    </div>
    <div class="row">
        <br />
    </div>
    <div class="row">
        <form method="POST">
            @Html.AntiForgeryToken()
            <div class="col-lg-6">
                <button id="optionA" type="submit" name="Vote" class="OptionA btn-default" value="@Model.OptionA">@Model.OptionA</button>
            </div>
            <div class="col-lg-6">
                <button id="optionB" type="submit" name="Vote" class="OptionB btn-default" value="@Model.OptionB">@Model.OptionB</button>
            </div>
        </form>
    </div>
    <div class="row">
        <br />
    </div>
    <div class="row">
        @if (!string.IsNullOrEmpty(Model.Vote))
        {
            <span>Thank you for selecting <strong>@Model.Vote</strong></span>
            <br />
            <br />
        }
    </div>
    <div class="row">
        Processed by container ID <strong>@Model.HostName</strong>
    </div>
</div>

@section Scripts
    {

}